/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --card: 260 14% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 260 14% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 270 100% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 280 60% 65%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 60%;

    --accent: 270 100% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 270 100% 42%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}

